.footer {
  width: 100%;
  height: 883px;
  background-color: #070917;
  position: relative;
  bottom: -653px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.footer .title {
  position: absolute;
  top: 70px;
  display: flex;
  flex-flow: column nowrap; align-items: center;
}
.footer .title .tp-1 {
  color: #da722c;
  font-family: Poppins;
  font-size: 18px;
  width: 105px;
  font-style: normal;
  position: absolute;
  font-weight: 700;

  top: 60px;
}
.footer .p-all {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  position: absolute;
  top: 164px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer .title .tp-2 {
  color: #da722c;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  top: 254px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer .p-all-2 {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  position: absolute;
  top: 355px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer .title .tp-3 {
  color: #da722c;

  font-family: Poppins;
  font-size: 18px;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  width: 113px;

  top: 411px;
}
.footer .p-all-3 {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  top: 531px;
}
.footer .p-all-3 .icon {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 28px;
  position: absolute;
  top: 35px;
}
.footer .search {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer input[type="search"] {
  width: 350px;
  height: 39px;
  border-radius: 8px;
  background: #fff;
  border: unset;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  position: absolute;

  top: 657px;
  padding-left: 27px;
  box-sizing: border-box;
}
.footer input[type="button"] {
  width: 135px;
  height: 30px;
  border: unset;
  position: absolute;

  top: 726px;
  border-radius: 8px;
  background: #023047;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}
.footer .maker {
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  position: absolute;
  bottom: 70px;
}
