.header {
  height: 80px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: relative;
}
.header .logo {
  position: absolute;
  left: 31px;
  top: 61px;
}
.header .logo p {
  color: #fff;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.left-intro {
  width: 50px;
}
.header .navbar nav {
  display: none;
}
