.footer {
  width: 100%;
  height: 638px;
  flex-shrink: 0;
  background-color: #070917;
  position: relative;
  bottom: -638px;
}
.footer .title {
  position: absolute;
  top: 70px;
  display: flex;
  flex-flow: row nowrap;
}
.footer .title .tp-1 {
  color: #da722c;
  font-family: Poppins;
  font-size: 18px;
  width: 105px;
  font-style: normal;
  position: absolute;
  font-weight: 700;
  left: 100px;
}
.footer .p-all {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  position: absolute;
  top: 120px;
  left: 140px;
}
.footer .title .tp-2 {
  color: #da722c;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  left: 427px;
}
.footer .p-all-2 {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  position: absolute;
  left: 451px;
  top: 120px;
}
.footer .title .tp-3 {
  color: #da722c;
  font-family: Poppins;
  font-size: 18px;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  width: 113px;
  left: 100px;
  top: 226px;
}
.footer .p-all-3 {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  position: absolute;
  left: 124px;
  top: 352px;
}
.footer .p-all-3 .icon {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 28px;
  position: absolute;
  top: 35px;
}
.footer input[type="search"] {
  width: 521px;
  height: 39px;
  border-radius: 8px;
  background: #fff;
  border: unset;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  position: absolute;
  left: 124px;
  top: 450px;
  padding-left: 27px;
  box-sizing: border-box;
}
.footer input[type="button"] {
  width: 135px;
  height: 30px;
  border: unset;
  position: absolute;
  left: 493px;
  top: 456px;
  border-radius: 8px;
  background: #023047;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}
.footer .maker {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  position: absolute;
  bottom: 57px;
  left: 100px;
}
