.intro {
  width: 100%;
  height: 1194px;
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
}
.intro {
  width: 100%;
  height: 1194px;
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
}
